@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;

  src: local("Gilroy Light"),
  local("Gilroy-Light"),
  url("../fonts/gilroy/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroy/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;

  src: local("Gilroy ExtraBold"),
  local("Gilroy-ExtraBold"),
  url("../fonts/gilroy/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroy/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;

  src: local("Open Sans Light"),
  local("OpenSans-Light"),
  url("../fonts/opensans/opensanslight.woff2") format("woff2"),
  url("../fonts/opensans/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;

  src: local("Open Sans"),
  local("OpenSans"),
  url("../fonts/opensans/opensans.woff2") format("woff2"),
  url("../fonts/opensans/opensans.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  padding: 0;
  color: #464646;
  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;

  clip-path: inset(100%);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Центрирование страницы */

.wrapper {
  width: 1160px;
  margin: 0 auto;
}

/* Основыные кнопки. */

.button {
  display: inline-block;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  position: relative;
  padding: 11px 45px;
  text-transform: uppercase;
  color: #000000;
  border: none;
  background: transparent;
}

.button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;
  width: 100%;
  height: 8px;
  margin-top: -4px;
  background-color: #f0c52e;
}

.button:hover::before,
.button:focus::before {
  top: 0;
  height: 100%;
  margin-top: 0;
}

.button:active {
  color: #a88a21;
}

/* Слайдеры на главной. */

.product-slide,
.service-slide {
  display: none;
}

#product-radio-1:checked ~ .product-first,
#product-radio-2:checked ~ .product-second,
#product-radio-3:checked ~ .product-third,
#service-radio-1:checked ~ .service-first,
#service-radio-2:checked ~ .service-second,
#service-radio-3:checked ~ .service-third {
  display: flex;
}

.product-slide-picture,
.product-slide-info {
  flex-basis: 100%;
}

.product-slide-picture {
  display: flex;
  justify-content: center;
}

.product-slide-info {
  position: relative;
}

.slide-number {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 179px;
  font-weight: 800;
  line-height: 179px;
  position: absolute;
  top: 50px;
  right: 60px;
  color: rgba(0, 0, 0, 0.1);
}

.slide-header {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
  margin: 0 0 18px 0;
}

.slide-description {
  margin: 0 0 41px 0;
}

.slide-table {
  border-spacing: 0;
}

.slide-table tbody {
  display: flex;
  flex-direction: column-reverse;
}

/* .slide-table td {
  padding-right: 77px;
} */

.spec-type td{
  font-size: 13px;
  line-height: 20px;
}

.spec-data td {
  padding-right: 77px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}

/* popup . */

.modal {
  box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.20);
}

.modal-write-us {
  position: absolute;
  top: 0;
  left: 50%;
  display: none;
  width: 960px;
  margin-left: -480px;
  padding: 80px 100px;
}

.write-us-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.write-us-form-item {
  margin-bottom: 36px;
}

.write-us-label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  display: block;
  margin-bottom: 10px;
}

.write-us-input {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  width: 360px;
  height: 50px;
  padding: 20px;
  border: 0;
  background-color: #f2f2f2;
}

.write-us-textarea {
  width: 760px;
  height: 156px;
}

.write-us-input::placeholder {
  opacity: 0.4;
}

.write-us-input:hover {
  background-color: #ebebeb;
}

.write-us-input:focus {
  outline: none;
  background-color: #ffffff;
  box-shadow: inset 0 0 0 3px #f7e296;
}

.write-us-input:invalid {
  background-color: #f6dada;
}

.modal-map {
  position: relative;
  left: 50%;
  display: none;
  width: 960px;
  height: 559px;
  margin-left: -480px;
}

/* Кнопка закрытия popup. */

.modal-close {
  font-size: 0;
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;
  cursor: pointer;
  opacity: 0.5;
  border: 0;
  border-radius: 50%;
  background-color: #f0c52e;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 26px;
  left: 13px;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}
